@page "/login/offline"
@using PolygonMC.Data;
<link rel="stylesheet" href="/css/welcome.css">

<div class="col center horizontal vertical" id="minecraft-login">
    <img id="minecraft-logo" src="\images\minecraft-logo.svg" alt="">

    <div class="col fill" style="margin: 0 2rem;">
        <label for="login-email" class="fill">Username</label>
        <input type="text" id="login-email" placeholder="user123" @bind=Configuration.Instance.Username autocomplete="off" autofocus="true" class="fill">
    </div>
    <button id="offline-login" class="primary button big" @onclick=@(()=>nav.NavigateTo("/instances"))>Offline</button>

    <a href="/" title="Go back to the welcome screen">Back to Welcome screen</a>
</div>

