@using PolygonMC.Data;
@inherits LayoutComponentBase

@if (ConfigurationController.Instance.Theme != "default")
{
    <link rel="stylesheet" href="/css/themes/@(ConfigurationController.Instance.Theme).css">
}

<div class="page">
    <main>
        @Body
    </main>
</div>