@using GalleryImage = Chase.Minecraft.Modrinth.Model.GalleryItem;

<div class="popup">
    <div class="popup-close-field" @onclick=OnClose></div>
    <div class="gallery-item popup-content" style="background-image: url('@SelectedImage.Url')">
        <button id="close-button" class="secondary fa fa-close" @onclick=OnClose></button>
        @if (HasPrevious)
        {
            <button id="previous-button" class="center horizontal vertical" @onclick="()=>SelectedIndex--"> <i class="fa fa-solid fa-chevron-left"></i> </button>
        }
        @if (HasNext)
        {
            <button id="next-button" class="center horizontal vertical" @onclick="()=>SelectedIndex++"> <i class="fa fa-solid fa-chevron-right"></i> </button>
        }
        <div class="gallery-info">
            <div class="gallery-title">@SelectedImage.Title</div>
            <div class="gallery-description">@SelectedImage.Description</div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int SelectedIndex { get; set; } = 0;

    [Parameter]
    public GalleryImage[] Images { get; set; }
    private GalleryImage SelectedImage => Images[SelectedIndex];

    private bool HasPrevious => SelectedIndex != 0;
    private bool HasNext => SelectedIndex != Images.Length - 1;


    [Parameter]
    public Action OnClose { get; set; }
}
