
<div class="gallery-item" style="background-image: url('@Image')" @onclick=@(()=>OnClick.Invoke())>
    <div class="gallery-info">
        <div class="gallery-title">@Title</div>
        <div class="gallery-description">@Description</div>
    </div>
</div>

@code {
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public Action OnClick { get; set; }
}
