@using Chase.Minecraft.Data;
@using Chase.Minecraft.Model;
<div class="instance-card col center horizontal" style="--image:url('@BackgroundImage')" @onclick=Open>

    @if (IsInstalled)
    {
        <button class="big" @onclick=Play>play</button>
    }
    else
    {
        <button class="big" @onclick=Install>install</button>
    }
    <p class="name">@Name</p>
    <div class="instance-data row center vertical">
        <p class="mc-version">@MinecraftVersion</p>
        <span class="seperator"></span>
        <p class="modloader">@ModLoader.ToUpper()</p>
        <span class="seperator"></span>
        <p class="version">@Version</p>
    </div>
</div>


@code {
    [Parameter]
    public string? BackgroundImage { get; set; } = null;
    [Parameter]
    public bool IsInstalled { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Version { get; set; }
    [Parameter]
    public string MinecraftVersion { get; set; }
    [Parameter]
    public string ModLoader { get; set; }
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public PlatformSource Source { get; set; }

    protected override Task OnInitializedAsync()
    {
        BackgroundImage ??= "/images/minecraft-bg.png";

        return base.OnInitializedAsync();
    }

    private void Open()
    {
        if (IsInstalled)
        {

        }
        else
        {
            nav.NavigateTo($"/discover/modpack/{Source.ToString()}/{Id}");
        }
    }

    private void Play()
    {

    }
    private void Install()
    {

    }
}
