<div class="pagination row">
    @for (int i = CurrentPage; i < TotalPages && i < CurrentPage + 8; i++)
    {
        <div class="pagination-item@(i==CurrentPage?" selected":"")" @onclick="()=>{OnPageChange.Invoke(i);CurrentPage=i;}">@i</div>
    }
</div>

@code {
    public int TotalPages => TotalResults / ItemsPerPage;

    [Parameter]
    public int CurrentPage { get; set; }
    [Parameter]
    public int TotalResults { get; set; }
    [Parameter]
    public int ItemsPerPage { get; set; }

    [Parameter]
    public Action<int> OnPageChange { get; set; } = i => { };
}
