/*
    PolygonMC - LFInteractive LLC. 2021-2024
    PolygonMC is a free and open source Minecraft Launcher implementing various modloaders, mod platforms, and minecraft authentication.
    PolygonMC is protected under GNU GENERAL PUBLIC LICENSE version 3.0 License
    https://www.gnu.org/licenses/gpl-3.0.en.html#license-text
    https://github.com/DcmanProductions/PolygonMC
*/

@import url('scrollbar.css');
@import url('/libraries/fontawesome/css/all.min.css');

:root {
    /*   Primary Colors    */
    --primary: hsl(149, 100%, 41%);
    --primary-lighter: hsl(149, 85%, 51%);
    --primary-darker: hsl(149, 80%, 31%);
    --primary-darkest: hsl(149, 80%, 25%);
    /*   Secondary Colors   */
    --secondary: hsl(0, 0%, 36%);
    --secondary-lighter: hsl(0, 0%, 76%);
    --secondary-darker: hsl(0, 0%, 26%);
    --secondary-darkest: hsl(0, 0%, 16%);
    /*   Primary Foreground Colors   */
    --primary-foreground: hsl(149, 0%, 90%);
    --primary-foreground-lighter: hsl(149, 0%, 100%);
    --primary-foreground-darker: hsl(149, 0%, 80%);
    --primary-foreground-darkest: hsl(149, 0%, 70%);
    /*   Secondary Foreground Colors   */
    --secondary-foreground: hsl(0, 0%, 35%);
    --secondary-foreground-lighter: hsl(0, 0%, 45%);
    --secondary-foreground-darker: hsl(0, 0%, 26%);
    --secondary-foreground-darkest: hsl(0, 0%, 12%);
    /*   Primary Foreground Colors   */
    --primary-button-foreground: hsl(149, 0%, 7%);
    --primary-button-foreground-hover: hsl(149, 0%, 7%);
    /*   Secondary Foreground Colors   */
    --secondary-button-foreground: hsl(0, 0%, 100%);
    --secondary-button-foreground-hover: hsl(149, 0%, 85%);
    /*   Background Colors   */
    --background: hsl(0, 0%, 7%);
    --background-lighter: hsl(0, 0%, 12%);
    --background-darker: hsl(0, 0%, 4%);
    --background-darkest: hsl(0, 0%, 0%);
    /*   Disables User Selection   */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@font-face {
    font-family: "Minecraft Ten";
    src: url('/fonts/Minecraft.ttf') format('truetype');
    font-weight: 400;
}

body {
    background: var(--background);
    margin: 0;
    font-family: Poppins;
    color: var(--primary-foreground-lighter);
}

:focus {
    outline: none;
}

hr {
    width: 100%;
}

.center, .row, .col, .grid {
    display: flex;
}

.grid {
    flex-wrap: wrap;
}

.center.horizontal {
    align-items: center;
}

.center.vertical {
    justify-content: center;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.fill {
    width: -webkit-fill-available;
}

button, .button {
    font-family: "Poppins";
    text-transform: uppercase;
    color: var(--primary-foreground) !important;
    font-size: 1rem;
    text-align: center;
    outline: none;
    border: none;
    overflow: hidden;
    margin: 1rem;
    padding: 1rem;
    box-sizing: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-darker);
    width: auto;
    font-weight: 400;
}

    button:before, .button:before {
        padding: 0 1rem;
    }

    .button.big, button.big {
        font-family: 'Minecraft Ten';
        background-image: url(/images/Button.svg);
        background-color: transparent;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 1.5rem;
        padding-bottom: 2rem;
        width: calc(100% - 5rem - 20px);
        text-shadow: 0px 2px 0px BLACK;
        aspect-ratio: 11/1;
        font-size: 1.5rem;
    }

    .button.fancy, button.fancy {
        font-family: 'Minecraft Ten';
        padding: 1.5rem;
        padding-bottom: 2rem;
        width: calc(100% - 5rem - 20px);
        text-shadow: 0px 2px 0px BLACK;
        aspect-ratio: 11/1;
        border-top: 5px solid var(--primary-lighter);
        border-bottom: 5px solid var(--primary-darker);
        border-left: 5px solid var(--primary-darkest);
        border-right: 5px solid var(--primary-darkest);
        outline: 5px solid black;
        background-image: none;
        background-color: var(--primary);
    }

    .button.fill, button.fill {
        width: calc(100% - 4rem);
    }

    button.secondary, .button.secondary {
        color: var(--secondary-foreground);
        background-color: var(--secondary-darker);
    }

    button:hover, .button:hover {
        cursor: pointer;
        background-image: none;
        background-color: var(--primary-darkest);
    }

    .button.big:hover, button.big:hover {
        background-image: url(/images/Button-hover.svg);
        background-color: transparent;
    }

    button.secondary:hover, .button.secondary:hover {
        background-image: none;
        background-color: var(--secondary-darkest);
    }

a {
    color: white;
    text-shadow: none;
    position: relative;
    text-decoration: none;
    color: var(--primary);
}

    a.external::before {
        position: absolute;
        content: "\f08e";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        right: -2rem;
        font-size: 1.2rem;
    }

.primary {
    color: var(--primary);
}

.alert {
    position: fixed;
    bottom: 2rem;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-darker);
    box-shadow: 0 2px 0 0 BLACK;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 1s;
    z-index: 1;
}

    .alert .button.secondary {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 12px;
        transform: translate(10px, -10px);
    }

    .alert.remove {
        transform: translate(-50%, 200%);
    }

input[type=text], input[type=email], input[type=password], input[type=number], input[type=search], input[type=url], textarea {
    background-color: hsl(0, 0%, 15%);
    color: white;
    padding: 2rem;
    border: 1px solid transparent;
    font-family: "Poppins";
    font-size: 1rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--primary);
}

#page-content {
    --bottom: 140px;
    margin: 1rem;
    padding-right: 1rem;
    margin-left: 5rem;
    overflow-y: scroll;
    max-height: calc(100vh - var(--bottom) - 32px);
    height: calc(100vh - var(--bottom) - 32px);
    padding-bottom: var(--bottom);
}

.loading {
    --scale: 5px;
    position: absolute;
    aspect-ratio: 1;
    width: 100px;
    left: 50%;
    top: 50%;
    border: var(--scale) solid transparent;
    border-left: var(--scale) solid var(--primary);
    border-radius: 100%;
    animation-name: Spin;
    animation-iteration-count: infinite;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

@keyframes Spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dropdown {
    position: relative;
    background-color: var(--background-lighter);
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    min-width: 5rem;
    text-align: center;
    font-weight: 400;
}

    .dropdown:hover, .dropdown:focus {
        cursor: pointer;
        background-color: var(--primary-darkest);
    }

        .dropdown:focus .dropdown-items {
            display: block;
            z-index: 1;
        }

    .dropdown .dropdown-items {
        display: none;
        position: absolute;
        background: var(--background-darker);
        width: 100%;
        left: 0;
        transform: translateY(1rem);
        box-shadow: 0 0 10px 0 black;
    }

        .dropdown .dropdown-items .dropdown-item {
            padding: .5rem 0;
        }

            .dropdown .dropdown-items .dropdown-item:hover {
                background-color: var(--background-lighter);
            }

            .dropdown .dropdown-items .dropdown-item.selected {
                background-color: var(--background-lighter);
            }

.checkbox {
    cursor: pointer;
    padding: 1rem;
    max-width: calc(100% - 2rem);
}

    .checkbox:hover {
        background-color: var(--secondary-darkest);
    }

    .checkbox .title {
        padding-right: 4rem;
        width: 100%;
    }

    .checkbox .checkmark {
        background-color: var(--secondary-darker);
        padding: 10px;
        max-width: 2rem;
        max-height: 2rem;
        aspect-ratio: 1;
        font-size: 1rem;
        color: transparent;
    }

        .checkbox .checkmark.checked {
            background-color: var(--primary);
            color: black;
        }

.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(8px);
    z-index: 2;
}

.popup-content {
    position: absolute;
    max-width: calc(75% - 8rem);
    max-height: calc(75% - 2rem);
    margin: auto;
    background-color: var(--background);
    z-index: 1;
    inset: 0;
    padding: 1rem 4rem;
}

    .popup-content label {
        width: 100%;
        padding-right: 2rem;
    }

.popup #close-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.popup h2 {
    font-size: 2rem;
}

.list-body {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5) inset;
    overflow-y: scroll;
    height: 400px;
    padding: 1rem;
}

.list-item:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    opacity: 1;
}

.list-item {
    padding: 1rem;
    opacity: .75;
    transition: opacity, background;
    transition-duration: 100ms;
}

    .list-item.selected {
        background: var(--primary);
        color: var(--background);
        opacity: 1;
        font-weight: 600;
    }

details {
    background: rgba(0,0,0,.2);
}

summary {
    font-size: 2rem;
    padding: 1rem;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}