/*
    PolygonMC - LFInteractive LLC. 2021-2024
    PolygonMC is a free and open source Minecraft Launcher implementing various modloaders, mod platforms, and minecraft authentication.
    PolygonMC is protected under GNU GENERAL PUBLIC LICENSE version 3.0 License
    https://www.gnu.org/licenses/gpl-3.0.en.html#license-text
    https://github.com/DcmanProductions/PolygonMC
*/

p {
    margin: 0;
}

iframe {
    width: -webkit-fill-available;
    height: auto;
    aspect-ratio: 16/9;
}

#description, #gallery-item, .product-content {
    padding-right: 2rem;
    max-width: calc(100% - 600px);
    width: calc(100% - 600px);
}

    #description img, #description video {
        max-width: 100%;
    }

#side-bar {
    /* Positional Data */
    position: fixed;
    right: 2rem;
    top: 6rem;
    /* Styling */
    overflow: scroll;
    font-size: 1rem;
    background-color: #1E1E1E;
    /* Size */
    height: 100vh;
    max-height: calc(100vh - 17rem);
    max-width: 800px;
    width: 25vw;
    min-width: 500px;
    /* Accents */
    padding: 1rem;
    padding-top: 7rem;
    border-left: 6px solid var(--primary);
}

    #side-bar #side-bar-content {
        z-index: 1;
    }

    #side-bar p {
        margin: 1rem;
        line-height: 1.7rem;
        font-size: 1.25rem;
    }

        #side-bar p#summery {
            font-size: 1rem;
        }

        #side-bar p#downloads {
            margin-bottom: 0;
        }

    #side-bar #banner-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        background-color: hsl(0,0%,15%);
    }

    #side-bar #icon {
        aspect-ratio: 1;
        height: 200px;
        border: 10px solid #1E1E1E;
        border-radius: 50px;
        background-color: #1e1e1e;
    }

    #side-bar #page-title-info {
        margin-top: 5rem;
    }

        #side-bar #page-title-info #title {
            font-size: 2rem;
        }

        #side-bar #page-title-info #type {
            font-size: 1rem;
            opacity: 0.7;
            text-transform: capitalize;
            margin-top: 0;
        }

.version-list {
    max-width: calc(100% - 600px);
    height: auto;
}

    .version-list .version-item {
        min-width: fit-content;
    }

        .version-list .version-item > * {
            margin: auto 1rem;
            padding: 0 1rem;
        }

        .version-list .version-item .btn {
            padding: 1rem 4rem;
        }

        .version-list .version-item .version-type {
            background: #3f3f3f;
            padding: 1rem;
            font-style: normal;
            margin-right: 1rem;
            color: var(--background);
        }

            .version-list .version-item .version-type.release {
                background: hsl(149, 100%, 51%);
            }

            .version-list .version-item .version-type.beta {
                background: hsl(206, 100%,51%);
            }

            .version-list .version-item .version-type.alpha {
                background: hsl(25, 100%, 51%);
            }


@media (max-height: 837px) {
    #side-bar #side-bar-content {
        padding-bottom: 100px;
    }
}
